<div class="nav">
    <div class='hamburger' (click)="isMenuVisible()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="social-links">
        <a class="social-links__social-link" href="https://www.facebook.com/sammy.shamailov" target="_blank">
            <img src="assets/icons/facebook.svg">
        </a>
        <a class="social-links__social-link" href="https://www.linkedin.com/in/solomon-shamailov-497788153/" target="_blank">
            <img src="assets/icons/linkedin.svg">
        </a>
        <a class="social-links__social-link" href="https://github.com/sammyshamailov/" target="_blank">
            <img src="assets/icons/github.svg">
        </a>
        <a class="social-links__social-link" href="mailto:sami.shamailov@gmail.com" target="_blank">
            <img src="assets/icons/email.svg">
        </a>
    </div>
</div>

<div class="logo"></div>