<span class="header">Add/Edit Product</span>
<form [formGroup]="editForm" (ngSubmit)="onSubmit(); revert();" class="edit-form">
    Category:
    <select formControlName="Category">
        <option *ngFor="let category of categoriesNames" value="{{ category }}">{{category}}</option>
    </select>
    Image URL: <input type="text" formControlName="Image">
    Big Image URL: <input type="text" formControlName="BigImage">
    Title: <input type="text" formControlName="Title">
    Price: <input type="number" formControlName="Price">
    Description: <textarea name="description" formControlName="Description"></textarea>
    <button type="submit" [disabled]="!editForm.valid">Add/Edit</button>
</form>

<!-- The Modal -->
<div id="myModal" class="modal" [style.display]="popupHidden? 'none': 'block'">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <p>Product was Added/Edited successfully</p>
    </div>

</div>