.product-list__product-details{
    margin: auto;
    padding: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 0 0 500px;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
}

.details-paragraph{
    font-size: x-large;
}

.back-button{
    margin: 25px;
    width: 50px;
    height: 50px;
    background-image: url('../../../assets/icons/back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.product-list__product_button{
    
    margin: 5px;
}