<app-category-choice (chosenCategory)="showChosenCategory($event)"></app-category-choice>
<button [hidden]="!deatailsPageShown" (click)="showProductsPage()">Back</button>
<div [class]="deatailsPageShown? 'hidden': 'product-list'">
    <div *ngFor="let product of productsShown" class="product-list__product">
        {{product.Title}}
        <img src='{{product.Image}}' alt='{{product.Title}}' (click)="showDetailsPage($event)">
        Price: {{product.Price}}
    </div>
</div>
<div [class]="deatailsPageShown? 'product-list': 'hidden'">
    <div class="product-list__product-details">
        <h1>{{chosenProduct.Title}}</h1>
        <img src='{{chosenProduct.BigImage}}' alt='product image'>
        <pre>Description: 
            {{chosenProduct.Description}}
            Price:
            {{product.Price}}
        </pre>
    </div>
</div>