<ul (click)="menuItemClicked($event.target.innerText)">
    <li class="menu__item"><a href="#">{{ menuItems.Home | localization: currLanguage }}</a></li>
    <li class="menu__item" [hidden]="!isLogged"><a href="#">{{ menuItems.Cart | localization: currLanguage }}
            ({{ cartAmount }})</a></li>
    <li class="menu__item"><a href="#">{{ menuItems.Products | localization: currLanguage }}</a></li>
    <li class="menu__item" [hidden]="isLogged"><a href="#">{{ menuItems.LogIn | localization: currLanguage }}</a></li>
    <li class="menu__item" [hidden]="!isLogged"><a href="#">{{ menuItems.LogOut | localization: currLanguage }}</a></li>
    <li class="menu__item" [hidden]="!isAdmin"><a href="#">{{ menuItems.Admin | localization: currLanguage }}</a></li>
    <li class="menu__item"><a href="#">{{ menuItems.About | localization: currLanguage }}</a></li>
    <li class="menu__item"><a href="#">{{ menuItems.Contact | localization: currLanguage }}</a></li>
</ul>

<div class="languages">
    <img alt="HE" class="languages__language" src="assets/icons/israel.png" (click)="changeLang($event.srcElement.alt)">
    <img alt="EN" class="languages__language" src="assets/icons/us.png" (click)="changeLang($event.srcElement.alt)">
    <img alt="ES" class="languages__language" src="assets/icons/spain.png" (click)="changeLang($event.srcElement.alt)">
    <img alt="RU" class="languages__language" src="assets/icons/russia.png" (click)="changeLang($event.srcElement.alt)">
</div>