:host{
    background-color: #0652b4;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    border: 1px solid #000;
    width: 5%;
    min-width: 150px;
}

ul li{
    text-align: left;
    width: 100%;
    height: 40px;
    list-style-type: none;
    font-size: x-large;
    transition: opacity 0.5s ease-in;
}

li:hover{
    opacity: 0.5;
}

ul a{
    text-decoration: none;
    color: #fff;
}