<ul (click)="menuItemClicked($event.srcElement.title)">
        <li title="{{ menuItems.Home }}" class="menu__item" routerLink='/home' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'>{{ menuItems.Home | localization: currLanguage }}</li>
        <li title="{{ menuItems.Cart }}" class="menu__item" routerLink='/cart' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}' *ngIf="(currentUser$ | async)">
                {{ menuItems.Cart | localization: currLanguage }}
                ({{ (currentCart$ | async).length }})</li>
        <li title="{{ menuItems.Products }}" class="menu__item" routerLink='/products' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'>{{ menuItems.Products | localization: currLanguage }}</li>
        <li title="{{ menuItems.LogIn }}" class="menu__item" routerLink='/log-in' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}' *ngIf="!(currentUser$ | async)">
                {{ menuItems.LogIn | localization: currLanguage }}</li>
        <li title="{{ menuItems.LogOut }}" class="menu__item" *ngIf="(currentUser$ | async)" title="{{ menuItems.LogOut }}">
                {{ menuItems.LogOut | localization: currLanguage }}</li>
        <ng-container *ngIf="(currentUser$ | async) as user">
                <li title="{{ menuItems.Admin }}" class="menu__item" routerLink='/add-edit' routerLinkActive='active-route-class'
                        [routerLinkActiveOptions]='{exact: true}'
                        *ngIf="user.isAdmin">
                        {{ menuItems.Admin | localization: currLanguage }}</li>
        </ng-container>
        <li title="{{ menuItems.About }}" class="menu__item" routerLink='/about' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'>{{ menuItems.About | localization: currLanguage }}</li>
        <li title="{{ menuItems.Contact }}" class="menu__item" routerLink='/contact' routerLinkActive='active-route-class'
                [routerLinkActiveOptions]='{exact: true}'>{{ menuItems.Contact | localization: currLanguage }}</li>
</ul>

<div class="languages">
        <img alt="HE" class="languages__language" src="assets/icons/israel.png"
                (click)="changeLang($event.srcElement.alt)">
        <img alt="EN" class="languages__language" src="assets/icons/us.png" (click)="changeLang($event.srcElement.alt)">
        <img alt="ES" class="languages__language" src="assets/icons/spain.png"
                (click)="changeLang($event.srcElement.alt)">
        <img alt="RU" class="languages__language" src="assets/icons/russia.png"
                (click)="changeLang($event.srcElement.alt)">
</div>