<span class="header">Buy Our Products</span>
<div class="category-choice">
    <app-category-choice [categories]="(categories$ | async)"></app-category-choice>
</div>
<div class="product-list">
    <div *ngFor="let product of (products$ | async)" class="product-list__product">
        <div class="flex" *ngIf="(curentUser$ | async) as user">
            <button [ngStyle]='setMyStyles(product)' *ngIf="user" class="product-list__product_button"
                value='{{ product.Title }}' (click)='changeProductState(product)'></button>
            <button *ngIf="user.isAdmin" class="product-list__product_edit-button" value='{{ product.Title }}'
                (click)='goToEditProduct(product)'></button>
        </div>
        <span>{{product.Title}}</span>
        <div class="product-list__product-image">
            <img src='{{product.Image}}' alt='{{product.Title}}' (click)="showDetailsPage(product)">
        </div>
        <span>Price: {{product.Price}}$</span>
    </div>
</div>