<span class="header">Buy Our Products</span>
<div class="category-choice">
    <app-category-choice (chosenCategory)="showChosenCategory($event)" [categories]="categories"></app-category-choice>
</div>
<div class="product-list">
    <div *ngFor="let product of productsShown" class="product-list__product">
        <div class="flex">
            <button [ngStyle]='setMyStyles(product)' [hidden]="!isLogged" class="product-list__product_button" value='{{ product.Title }}'
                (click)='changeProductState(product)'></button>
            <button [hidden]="!isAdmin" class="product-list__product_edit-button" value='{{ product.Title }}'
                (click)='goToEditProduct(product.id)'></button>
        </div>
        <span>{{product.Title}}</span>
        <div class="product-list__product-image">
            <img src='{{product.Image}}' alt='{{product.Title}}' (click)="showDetailsPage(product.id)">
        </div>
        <span>Price: {{product.Price}}$</span>
    </div>
</div>