<div class="nav">
    <div class='hamburger' (click)="isMenuVisible()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="social-links">
        <app-social-link>
            <a #link class="social-links__social-link" href="https://www.facebook.com/sammy.shamailov">
                <img src="assets/icons/facebook.svg">
            </a>
            <a #link class="social-links__social-link" href="https://www.linkedin.com/in/solomon-shamailov-497788153/">
                <img src="assets/icons/linkedin.svg">
            </a>
            <a #link class="social-links__social-link" href="https://github.com/sammyshamailov/">
                <img src="assets/icons/github.svg">
            </a>
            <a #link class="social-links__social-link" href="mailto:sami.shamailov@gmail.com">
                <img src="assets/icons/email.svg">
            </a>
        </app-social-link>
    </div>
</div>

<div>
    <img class="logo" src='/assets/images/logo2.png' />
</div>